<!DOCTYPE html>
<html lang="en">

<%- include('head') -%>
<%- include('topBoilerplate') -%>
<%- include('optionsButton') -%>

<main>
    <h1 class="waiting-msg">Waiting for the opponent</h1>
</main>


<%- include('footer') -%>
<%- include('popup') -%>
<%- include('scripts') -%>
<script src="./js/phaser.js"></script>
<script src="./js/Effects.js"></script>
<script src="./js/Character.js"></script>
<script src="./js/Scene1.js"></script>
<script src="./js/Scene2.js"></script>
<script src="./js/game.js"></script>

<%- include('botBoilerplate') -%>

