<!DOCTYPE html>
<html lang="en">

<%- include('head') -%>
<%- include('topBoilerplate') -%>
<%- include('optionsButton') -%>

<main>
    <h1 class="title">Game.io</h1>
    <form method="post" id="name-form">
        <input type="text" id="name" name="name" placeholder="nickname">
        <input type="submit" id="submit" name="submit" value="play">
    </form>
</main>

<%- include('footer') -%>
<%- include('popup') -%>
<%- include('scripts') -%>
<%- include('botBoilerplate') -%>

